.parallaxmine{
    background-image:url("../images/background.jpg");
    height:100%;
    width:100%;
    align-self: center;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
body{
	background-color: #d6f8ff;
	height:100%;
	margin:0;
}
html{
	height:100%;
	margin:0;
}
.centermine{
    position: absolute;
    font-size:1000%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    color: white;
    font-family:'Ubuntu', sans-serif;
    align-content: center;
}
#punk{
	height:40%;
	width:40%;
	border-radius: 50%;
	margin-left: 30%;
	border: 5px solid white;
}
#punk:hover{
	height:40%;
	width:40%;
	border-radius: 50%;
	margin-left: 30%;
	border: 5px solid #ff5145;
}
.introtext{
	position: relative;
	align-self: center;
	left:2%;
	color:white;
}
.introtext:hover{
	position: relative;
	align-self: center;
	left:2%;
	color:#d1fffa;
}
.letstick{
	position: sticky;
}